.fade-in {
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

.fade-out {
    -webkit-animation-name: fade-out;
    -moz-animation-name: fade-out;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes fade-out {
    0% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}

.scale-big {
     -webkit-animation-name: scale-big;
     -moz-animation-name: scale-big;
     -webkit-animation-duration: 0.25s;
     -moz-animation-duration: 0.25s;
     -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
 }

@keyframes scale-big {
    0% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.scale-big-reverse {
    -webkit-animation-name: scale-big-reverse;
    -moz-animation-name: scale-big-reverse;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes scale-big-reverse {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1.00);
        transform: scale(1.00);
    }
}

.scale-small {
    -webkit-animation-name: scale-small;
    -moz-animation-name: scale-small;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes scale-small {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.scale-small-reverse {
    -webkit-animation-name: scale-small-reverse;
    -moz-animation-name: scale-small-reverse;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes scale-small-reverse {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.btn:hover i.pulse{
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}