[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
    display: none !important;
}

.brand{
    font-family: Lobster,cursive;
    font-weight: 100;
}

.year{
    position: relative;
    font-family: Lobster,cursive;
    width: 140px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 0;
    margin-bottom: 0;
    vertical-align:middle;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    top:20px;
}

.year h2{
    font-family: Lobster,cursive;
    font-size: 2.5rem;
}

.pictures
{
    margin-top: 50px;
}

.year .background{
    z-index: 50;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding-top: 20px;
    background-color: #fff;
}

.tile-header .tile-content h3{
    font-family: Lobster,cursive;
    margin: 0;
    font-size: 2.1rem;
}

.tile-header .tile-content h4{
    font-size: 1.7rem;
    margin: 10px 0 0;
}

.tile-header .tile-content p{
    margin: 0;
    color: #777;
    font-size: 1.4rem;
}

.login div .form-control{
        margin-bottom: 20px;
    }

@media(max-width:767px) {
    .year{
        width: 100px;
        height: 50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        top:10px;
    }
    
    .year h2{
        font-size: 2rem;
    }
    
    .year .background{
        padding-top: 15px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    
    .tile-header .tile-content h3{
        font-size: 1.6rem;
    }
    
    .tile-header .tile-content h4{
        font-size: 1.3rem;
    }
    
    .tile-header .tile-content p{
        font-size: 1.2rem;
    }
}

@media(min-width:768px) {
    .login div .password{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .login div .btn-login{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

    }
}

.login{
    padding-bottom: 10%;
}

.login div{
    padding: 0;
}

input.transparent{
    background-color:rgba(0,0,0,0) !important;
    border:1px solid #fff !important;
}

input.transparent::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
input.transparent:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#fff;
}
input.transparent::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#fff;
}
input.transparent:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#fff;
}

input.transparent:focus{
    color:#fff;
}

.month{
    padding: 20px 5px 20px 20px;
    overflow: hidden;
    overflow-wrap: hyphenate;
}

.month-description{
    padding: 20px 20px 20px 0;
}

.tile-image, .tile-header, .tile-subheader{
    position: relative;
}

.tile-content{
    z-index: 10;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tile-header .tile-content{
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    z-index: 40;
}

.tile-image .tile-content{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right:0;
    border: 5px solid #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.tile-image:hover .tile-content{
    z-index:1000;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

@media(max-width:767px){
    .tile-image{
        padding-bottom: 28.66%; 
    }
}
@media(min-width:768px){
    .tile-image{
        padding-bottom: 21.5%;
    }
}
@media(min-width:992px){
    .tile-image{
        padding-bottom: 21.5%;
    }
}
@media(min-width:1200px){
    .tile-image{
        padding-bottom: 14.33%;
    }
}

/*!
 * Changes from Lars Wolfram
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    font-family: Arimo,sans-serif;
    color: #000;
    background-color: #E9E9E9;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

html, body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: Arimo, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-family: Arimo,sans-serif;
    background-color: #fff;
}

.navbar-custom.top-nav-collapse{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand i{
    letter-spacing: -0.2em;
}

.navbar-custom .navbar-brand i.small{
    font-size: 85%;
}

.navbar-custom .navbar-brand span{
    padding-left: 1rem;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #000;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .navbar-logout{
    position: relative;
    padding: 0;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media(min-width:768px){ 
    .navbar-custom a {
        color: #fff;
    }
}

@media(max-width:767px){ 
    .navbar-custom a {
        color: #000;
    }
}

.navbar-custom.top-nav-collapse a {
    color: #000;
}

.navbar-custom.top-nav-collapse .navbar-btn {
    color: #000;
    border-color: #000;
}



@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #fff;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro.login{
    height: 100%;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-close{
    width: 35px;
    height: 35px;
    margin-top: 6px;
    padding: 3px 8px;
    font-size: 17px;
    color: #fff;
    background: 0 0;
    border-radius: 100%!important;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus,
.btn-close:hover,
.btn-close:focus{
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 0;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 6px;
    text-transform: uppercase;
    font-family: Arimo,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #fff;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #fff;
    outline: 0;
    color: #fff;
    background-color: rgba(255,255,255,.1);
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.loading-indicator{
    color: #777;
    width: 100%;
    text-align: center;
}

.loading-indicator i{
    font-size: 2em;
}

/*Carrousel*/
.carrousel{
    position: relative;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.1);
}

.carrousel-container{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    margin:10px;
    border: 10px solid rgb(255,255,255);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    overflow: hidden;
}

.carrousel-container .btn-close{
    position: absolute;
    top: 5px;
    right: 7px;
    z-index: 1000;
}

ul.dm-car {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
ul.dm-car li {
    display: block;
    position: absolute;
    top: 0;
    -moz-transition: left 500ms ease-out;
    -o-transition: left 500ms ease-out;
    -webkit-transition: left 500ms ease-out;
    transition: left 500ms ease-out;
    left: 100%;
    width: 100%;
    line-height: 100vh;
    vertical-align: middle;
}

.dm-car-item{
    width: 100%;
    height: 100%;
}

.dm-car-image {
    width: 100%;
    height: 100%;
    background: no-repeat center center scroll;
    background-color: rgba(0,0,0,0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
ul.dm-car li.current {
    left: 0;
    -moz-transition: left 500ms ease-out;
    -o-transition: left 500ms ease-out;
    -webkit-transition: left 500ms ease-out;
    transition: left 500ms ease-out;
    z-index: 100;
}
ul.dm-car li.next {
    left: 100%;
    z-index: 10;
}
ul.dm-car li.prev {
    left: -100%;
    -moz-transition: left 500ms ease-out;
    -o-transition: left 500ms ease-out;
    -webkit-transition: left 500ms ease-out;
    transition: left 500ms ease-out;
    z-index: 2;
}

.dm-car-controls {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
}
.dm-car-controls .dm-car-control {
    width: 50px;
    height: 100%;
    line-height: 100vh;
    text-align: center;
    background-color: #ccc;
    background-color: rgba(30, 30, 30, 0.37);
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 200;
}
.dm-car-controls .dm-car-control.dm-car-control-next {
    right: 0;
}

.dm-car-container {
    position: relative;
    height: 100%;
}