<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Die Mühlrams</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="refresh" content="1740"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Normalize CSS -->
        <link href="../../resources/css/external/normalize.css"
              th:href="@{/resources/css/external/normalize.css}" rel="stylesheet" media="screen"/>

        <!-- Bootstrap CSS -->
        <link href="../../resources/css/external/bootstrap.css"
              th:href="@{/resources/css/external/bootstrap.css}" rel="stylesheet" media="screen"/>

        <!-- Custom CSS -->
        <link href="../../resources/css/photodrive.css" th:href="@{/resources/css/photodrive.css}" rel="stylesheet"
              media="screen"/>

        <!-- Custom Fonts -->
        <link href="../../resources/font-awesome/css/font-awesome.min.css"
              th:href="@{/resources/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="intro login" th:style="'background-image:url(' + @{/resources/images/P1090990.JPG} + ');'" style="background-image: url(../../resources/images/P1090990.JPG);">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <span class="brand intro-text">Die</span>

                            <h1 class="brand-heading brand">Mühlrams</h1>
                        </div>
                    </div>
                    <div class="row login">
                        <form th:action="@{/login}" method="post">
                            <input type="hidden" name="username" value="user"/>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div>
                                <label th:if="${loginError}" class="control-label" for="password">Falsches Passwort</label>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-4">
                                <input id="password" class="form-control password transparent" autofocus="autofocus" type="password" placeholder="Passwort" name="password" />
                            </div>
                            <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 col-md-1">
                                <input class="form-control btn btn-primary btn-block btn-login" type="submit" value="Log in" />
                            </div>
                        </form>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <form th:action="@{/login}" method="post">
                                <input type="hidden" name="username" value="guest"/>
                                <input type="hidden" name="password" value="guest"/>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <div >
                                    <input class="btn btn-primary btn-block" type="submit" value="Als Gast einloggen" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>