<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title>Photodrive</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
        <link href="../../../resources/css/photodrive.css" th:href="@{/resources/css/photodrive.css}" rel="stylesheet" media="screen"/>
        <link href="../../../resources/css/external/normalize.css"
              th:href="@{/resources/css/external/normalize.css}" rel="stylesheet" media="screen"/>
        <link href="../../../resources/css/external/bootstrap.css"
              th:href="@{/resources/css/external/bootstrap.css}" rel="stylesheet" media="screen"/>
    </head>
    <body ng-app="PhotoeDriveApp" ng-controller="FileController" ng-cloak>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <button ng-click="reload()">Reload</button>
        </div>
        <script type="text/javascript" src="../../../resources/js/external/jquery.js" th:src="@{/resources/js/external/jquery.js}"></script>
        <script type="text/javascript" src="../../../resources/js/external/angular.js" th:src="@{/resources/js/external/angular.js}"></script>
        <script type="text/javascript" src="../../../resources/js/external/angular-resource.js" th:src="@{/resources/js/external/angular-resource.js}"></script>
        <script type="text/javascript" src="../../../resources/js/app_test.js" th:src="@{/resources/js/app.js}"></script>
    </body>
</html>