<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head lang="de">
    <title>Die Mühlrams</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Normalize CSS -->
    <link href="../../../resources/css/external/normalize.css"
          th:href="@{/resources/css/external/normalize.css}" rel="stylesheet" media="screen"/>

    <!-- Bootstrap CSS -->
    <link href="../../../resources/css/external/bootstrap.css"
          th:href="@{/resources/css/external/bootstrap.css}" rel="stylesheet" media="screen"/>

    <!-- Photodrive CSS -->
    <link href="../../../resources/css/photodrive.css" th:href="@{/resources/css/photodrive.css}" rel="stylesheet"
          media="screen"/>

    <!-- Animation CSS -->
    <link href="../../../resources/css/animation.css" th:href="@{/resources/css/animation.css}" rel="stylesheet"
          media="screen"/>

    <!-- Custom Fonts -->
    <link href="../../../resources/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css">
</head>
<body sec:authorize="hasRole('ROLE_USER')" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
      ng-app="PhotoDriveApp" ng-controller="ElementController" ng-cloak>
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation" ng-show="!isCarrouselOpen">
    <div class="container">
        <div class="navbar-header">
            <form class="navbar-toggle navbar-logout" th:action="@{/logout}" method="post">
                <label for="logout" class="btn"><i class="fa fa-sign-out"></i></label>
                <input id="logout" type="submit" class="hidden"/>
            </form>
            <a class="navbar-brand brand page-scroll" href="#page-top">
                <i class="fa fa-male"></i> <i class="fa fa-female"></i> <i class="fa fa-child small"></i> <i
                    class="fa fa-child small"></i>
                <span>Die Mühlrams</span>
            </a>
        </div>


        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn navbar-btn btn-default" type="submit" value="LOG OUT"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="pictures" class="pictures container content-section" ng-show="!isCarrouselOpen">
    <div class="row" infinite-scroll="paging()" infinite-scroll-disabled='busy' infinite-scroll-distance="1">
        <div ng-repeat="element in elements" ng-class="{'col-xs-12 tile-header' : element.type === 'HEADER',
                                                  'col-xs-12 tile-header tile-subheader' : element.type === 'SUB_HEADER',
                                                  'col-xs-4 col-sm-3 col-md-3 col-lg-2 tile-image': element.type === 'IMAGE'}">
            <div ng-if="element.type === 'HEADER'">
                <div class="year" >
                    <div class="background">
                        <h2 ng-bind="element.year"></h2>
                    </div>
                </div>
                <div class="tile-content row">
                    <div class="col-xs-4 col-sm-3 col-md-2 month">
                        <h3 class="heading text-left" ng-bind="element.headerName"></h3>
                        <h4 class="heading text-left" ng-bind="element.headerSubname" ng-if="element.headerSubname"></h4>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-10 month-description">
                        <p class="heading text-left" ng-bind="element.text"></p>
                    </div>
                </div>
            </div>

            <div class="tile-content row" ng-if="element.type === 'SUB_HEADER'">
                <div class="col-xs-4 col-sm-3 col-md-2 month">
                    <h3 class="heading text-left" ng-bind="element.headerName"></h3>
                    <h4 class="heading text-left" ng-bind="element.headerSubname" ng-if="element.headerSubname"></h4>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-10 month-description">
                    <p class="heading text-left" ng-bind="element.text"></p>
                </div>
            </div>

            <div id="{{element.id}}" class="tile-content" ng-click="$parent.imageClicked(element)" ng-if="element.type === 'IMAGE'" style="background-image: url({{element.thumbnail}})">
            </div>
        </div>
        <div style='clear: both;'></div>
        <div class="loading-indicator" ng-show="!isAllLoaded">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</section>
<section id="carrousel" class="carrousel" ng-show="isCarrouselOpen">

    <div class="carrousel-container">
        <a class="btn btn-close" ng-click="carrouselClose()">
            <i class="fa fa-close pulse"></i>
        </a>
        <dm-carrousel></dm-carrousel>
    </div>
</section>

<script src="../../../resources/js/external/jquery.js" th:src="@{/resources/js/external/jquery.js}"></script>
<script src="../../../resources/js/external/bootstrap.js" th:src="@{/resources/js/external/bootstrap.js}"></script>
<script src="../../../resources/js/external/jquery.easing.min.js"
        th:src="@{/resources/js/external/jquery.easing.min.js}"></script>
<script src="../../../resources/js/external/angular.js" th:src="@{/resources/js/external/angular.js}"></script>
<script src="../../../resources/js/external/angular-resource.js"
        th:src="@{/resources/js/external/angular-resource.js}"></script>
<script src="../../../resources/js/external/ng-infinite-scroll.js"
        th:src="@{/resources/js/external/ng-infinite-scroll.js}"></script>
<script src="../../../resources/js/dm-carrousel.js"
        th:src="@{/resources/js/dm-carrousel.js}"></script>
<script src="../../../resources/js/app_test.js" th:src="@{/resources/js/app.js}"></script>
</body>
</html>